{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "fetch": true,
    "webpack": true,
    "window": true
  },
  "env": {
    "node": true
  },
  "rules": {
    "global-require": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "max-len": [1, 120, { "tabWidth": 2, "ignoreComments": true }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
}
